<div class="container">
  <div class="row speeches-top-bar">

    <div class="col-md-10">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by title, content, or keyword" [(ngModel)]="search" (keyup)="searchSpeeches()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="searchSpeeches()">
              Search
            </button>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-2 col-xs-12">
        <button type="button" class="btn btn-default pull-right" [routerLink]="['/speech-new']">
          <span class="fa fa-file-text fa-lg" aria-hidden="true"></span>
          New Speech
        </button>
      </div>

    </div>
  </div>

  <div class="row">

    <div *ngIf="speeches" class="speech-list col-md-12">

      <div *ngFor="let speech of speeches" class="col-sm-10">
        <div class="panel panel-default" [routerLink]="['/speech', speech.id]">
          <div class="panel-body">

            <div class="caption">
              <h5>{{speech.title}}</h5>
              <p class="speech-content">{{speech.content}}</p>

            </div>

            <hr>
            <div class="pull-left">
              Posted by <a>{{speech.author}}</a>
            </div>
            <div class="pull-right">
              Posted on {{speech.date | date:'MMM dd, yyyy'}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!speeches || speeches.length == 0" class="col-md-10">
      <div class="alert alert-warning col-md-12" role="alert">No speech found.</div>
    </div>

  </div>
</div>
