
<div class="container">
  <div class="row">

    <div class="pull-right">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
      <button type="button" class="btn btn-primary" (click)="saveSpeech()">Save</button>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ShareModal">Share</button>
    </div>

    <div *ngIf="speech">
      <h2>
        {{speech.title}}
      </h2>

      <h5>
        Keywords: {{speech.keyword}}
      </h5>

      <div>
        {{speech.content}}
      </div>

      <hr>
      <div class="pull-left">
        Posted by <a>{{speech.author}}</a>
      </div>
      <div class="pull-right">
        Posted on {{speech.date | date:'MMM dd, yyyy'}}
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteSpeech()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="javascript:void(0);" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="share">


            <div class="form-group col-md-5">
              <label class="control-label" for="email">Email Address</label>
              <input type="text" name="email" id="email" placeholder="Team member's email" class="form-control" required>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="shareSpeech()">Share to a Team member</button>
        </div>
      </form>
    </div>
  </div>
</div>

