<nav class="navbar navbar-default sidebar" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/speeches']">
            View My Speeches
            <i class="fa fa-list-alt pull-right" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a [routerLink]="['/speech-new']">
            Submit a new Speech
            <i class="fa fa-file-text pull-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>

</nav>

<div class="main">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <spinner-component [spinnerShow]="loader"></spinner-component>
  <router-outlet></router-outlet>
</div>
