
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">New Speech</h3>
        </div>

        <div class="panel-body">

          <div *ngIf="error.isError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error.errorMessage}}
          </div>

          <form method="POST" action="javascript:void(0);" enctype="multipart/form-data">

            <div class="form-group col-md-5">
              <label class="control-label" for="title">Title</label>
              <input type="text" name="title" id="title" placeholder="Speech Title" class="form-control"
                     [(ngModel)]="speech.title" required>
            </div>

            <div class="form-group col-md-12">
              <label for="content">Speech Content</label>
              <textarea class="form-control" id="content" rows="3" required></textarea>
            </div>

            <div class="form-group col-md-9 col-sm-9">
              <label class="control-label" for="keywords">Subject area keywords</label>
              <input type="text" name="keywords" id="keywords" placeholder="keywords" class="form-control"
                     [(ngModel)]="speech.keyword" required>
            </div>

            <div class="form-group col-md-3 col-sm-3">
              <label class="control-label">Date</label>
              <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="myDate" required></my-date-picker>
            </div>

            <div class="form-group col-md-5">
              <label class="control-label" for="author">Author</label>
              <input type="text" name="author" id="author" class="form-control" value="John Doe"
                     [(ngModel)]="speech.author" required>
            </div>

            <div class="form-group col-md-12">
              <input type="submit" value="Submit" class="btn btn-primary pull-right" (click)="submitSpeech()">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
